<h1>Listing documents from project <%= @project.name %></h1>

<table>
  <tr>
    <th>Title</th>
		<th>Description</th>
    <th>Size</th>
    <th>Type</th>
  </tr>

<% for document in @documents %>
  <tr>
    <td><%=h document.title %></td>
    <td><%=h document.description %></td>
    <td><%=h number_to_human_size(document.document_file_size)%></td>
    <td><%=h document.document_content_type %></td>
    <td><%= link_to 'Show', [@project, document] %></td>
    <td><%= link_to 'Edit', edit_project_document_path(@project, document) %></td>
    <td><%= link_to 'Destroy', [@project, document], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New document', new_project_document_path(@project) %>